<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View PDF</title>
    <link rel="stylesheet" href="/styles/convertPdfStyles.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.10.377/pdf.min.js"></script>
  </head>
  <body>
    <div id="pdf-container"></div>
    <div id="chat-icon" class="chat-icon">
      <img
        src="/images/talkingApple.jpeg"
        alt="apple"
        width="100px"
        height="100px"
      />
    </div>
    <div id="chat-container" class="chat-container hidden">
      <div class="chat-header">AI Step by Step Solver</div>
      <div id="chat-messages" class="chat-messages"></div>
      <textarea
        id="chat-textarea"
        rows="4"
        placeholder="How can I help you...?"
      ></textarea>
      <button id="chat-submit" class="chat-submit">Submit</button>
    </div>

    <!-- Inline script to pass pdfName to convertPdf.js -->
    <script>
      window.pdfName = "<%= pdfName %>";
    </script>
    <!-- Include the separate JavaScript file -->
    <script src="/scripts/convertPdf.js"></script>
  </body>
</html>
